@charset "utf-8";




// Define defaults for each variable.
$base-font-family: "CMU Sans Serif",Verdana, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;


$spacing-unit:     30px !default;

$background-color:       #000000 !default;
$text-color: #fdfdfd !default;
$brand-color:      #0cbeff !default;

$grey-color:       #60b1c2 !default;
// $grey-color-light:  $grey-color;
// $grey-color-dark:   $grey-color !default;
$grey-color-light: darken($grey-color, 20%) !default;
$grey-color-dark:  lighten($grey-color, 15%) !default;

$color-warning-yellow: #d9dd05;
$color-good-green: #08b502;
$color-error-red: #ba0202;
$color-legacy-purple: #8a4bd8;

$code-color: #00a399 !default;
$code-background-color: #12191c !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    860px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
// @import
//   "minima-customized/base",
//   "minima-customized/layout",
//   "minima-customized/syntax-highlighting"
// ;
