---
layout: default
---

<h1>Gallery: {{ page.name }}</h1>
<p class="post-meta">
    {% if page.project %}
        <a href="/projects/{{ page.name | downcase | replace: ' ','-' }}">Project Page</a> •
    {% endif %}
    Number of Images: {{ site.data.galleries[page.name] | size }}
    {% if page.see_also_link %}
        • See also: <a href="{{ page.see_also_link }}">{{ page.see_also_text }}</a>
    {% endif %}
</p>
<br><br>


{% assign data_name = page.name | replace: " ","-" %}

{% if site.data.galleries[data_name] %}
    {% assign imgs = site.data.galleries[data_name] %}

    {% if page.sort_by == "date" or page.sort_by == "oldest" %}
        {% assign imgs = imgs | sort: "date" %}
    {% elsif page.sort_by == "newest" %}
        {% assign imgs = imgs | sort: "date" | reverse %}
    {% elsif page.sort_by == "alphabetic" %}
        {% assign imgs = imgs | sort: "name" %}
    {% endif %}

    {% for img in imgs %}
        <div class="gallery-title">
            <h2 style="margin: 0px">{{ img.title }}</h2> <span class="grey-color">{{ img.date | date: "%b %-d, %Y" }}</span><br>
        </div>
        {% if img.video %}
            <iframe class="gallery-video" src="{{ img.url }}" allow="accelerometer" allowfullscreen></iframe>
        {% else %}
            <img class="gallery-image" src="/assets/images/{{ data_name }}/{{ img.filename }}" alt="{{ img.alt }}">
        {% endif %}
        <p class="gallery-caption">{{ img.caption }}</p>
        <br><br><br><br>
    {% endfor %}
{% endif %}

{% assign printed_box = false %}
{% for img in site.static_files %}
    {% assign target_dir = "images/" | append: data_name %}
    {% assign target_dir = target_dir | append: '/' %}
    {% if img.path contains target_dir %}
        {% assign exists = false %}
        {% for data_image in imgs %}
            <!-- <p>{{ data_image.filename }} -->
            {% assign target_filename = "filename: "| append: data_image.filename %}
            {% if img.path contains data_image.filename %}{% assign exists = true %}{% endif %}
        {% endfor %}
        {% if exists == false %}
            {% if printed_box == false %}
                <p class="round-box gallery-caption">
                    The below images have not yet been categorized or captioned.
                    {% if page.catalog_message %}
                        <br><br><br>
                        {{ page.catalog_message }}
                    {% endif %}
                </p>
                {% assign printed_box = true %}
            {% endif %}
            <img class="gallery-image" src="{{ img.path }}">
            <br>
        {% endif %}
    {% endif %}
{% endfor %}