---
layout: default
---

<h1>
    {{ page.name }}
</h1>

<div class="row">
    <div class="menu-column">

        {% if page.status %}
            <p>Status:
                {% assign status = page.status | downcase %}
                {% if status == "ongoing" %}
                    <span class="warning-yellow">
                {% elsif status == "complete" %}
                    <span class="good-green">
                {% elsif status == "abandoned" %}
                    <span class="error-red">
                {% elsif status == "legacy" %}
                    <span class="legacy-purple">
                {% else %}
                    <span>
                {% endif %}
            {{ page.status }}</span></p>{% endif %}

        {% if page.started %}<p>Started: {{ page.started }}</p>{% endif %}

        {% if page.finished %}<p>Finished: {{ page.finished }}</p>{% endif %}

        {%- if page.gallery -%}
            <p><a class="page-link" 
            {% if page.gallery_name %}
                href="/galleries/{{ page.gallery_name }}"
            {% else %}
                href="/galleries/{{ page.name | downcase | replace: ' ', '-' }}"
            {% endif %}
            >Project Gallery</a></p>
        {% endif %}

        <!-- Check for github repo, add link if it exists. Link code copied from _includes/social.html. -->
        {% if page.github_repo %}
        <p><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}/{{ page.github_repo }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ page.github_repo }}</span></a></p>
        {%- endif -%}

    </div>
    <div class="main-column">
        {%- if content -%}
            <div class="round-box">
                {{ content }}
            </div>
        {%- endif -%}


        {% assign category_name = page.name %}
        {% assign category = site.categories[category_name] %}
        {% if category %}
            <div class="project-posts">
                <h2>Posts</h2>
            </div>
            {%- comment -%} <p>{{ category }}</p>
            {% assign project_posts = site.posts | where: 'Category', category_name %}
            {% for post in category.last %}
                <li>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    {{ post.excerpt }}
                </li>
            {% endfor %} {%- endcomment -%}
            {% for category in site.categories %}
            
                {% if category[0] == category_name %}
                    {% for post in category.last %}
                    <li>
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    </li>
                    {% endfor %}

                {% endif %}
            </li>
            {% endfor %}
        {% endif %}
    </div>

</div>